openapi: 3.0.0
info:
  title: Product API
  description: This is a Product API
  version: 1.0.0
servers:
- url: https://api.product.com/v1
tags:
- name: product
  description: All information about products
paths:
  /product/productById/{productId}:
    get:
      tags:
      - product
      summary: Find product by ID
      description: Returns a single product
      operationId: getProductById
      parameters:
      - name: productId
        in: path
        description: ID of product to return
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        "400":
          description: Invalid ID supplied
        "404":
          description: Product not found
      x-swagger-router-controller: Product
  /product/productByName/{productName}:
    get:
      tags:
      - product
      summary: Find Product by Name
      description: Returns a single product
      operationId: getProductByName
      parameters:
      - name: productName
        in: path
        description: Name of the product to return
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        "400":
          description: Invalid Name supplied
        "404":
          description: Product not found
      x-swagger-router-controller: Product
  /product/productByIds:
    post:
      tags:
      - product
      summary: Retrieve all the products for the selected ids
      operationId: getProductByIds
      requestBody:
        description: List of product ids
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        "200":
          description: List of proucts retrieved successfully
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        "400":
          description: Invalid Id supplied
        "404":
          description: Product not found
      x-swagger-router-controller: Product
components: {}
